.logo {
    font-size: 1.8em;
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column;

}

h1, h2, h3 {
    color: black;
    padding-left: 10px;
    border-radius: 8px;
}
a {
    color: green;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    
}

aside{
    flex: 1;
    overflow-y: auto;
}

