.logo {
    font-size: 1.8em;
    margin-right: 10px;
}

body {
    display: flex;
    flex-direction: column;

}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    
}

aside{
    flex: 1;
    overflow-y: auto;
}

